PRIVATE_KEY=94033614a3eed39802a36e03a648552cebe47e02adf2ec057f274cdda721d2d1
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
ARBISCAN_API_KEY=

ORACLE_ADDRESS=deployed_oracle_address
VAULT_ADDRESS=deployed_vault_address
LIQUIDATOR_ADDRESS=deployed_liquidator_address